<!DOCTYPE html>
<html>
  <head>
    <title>Music Feed 7</title>
    <link rel="stylesheet" type="text/css" href="../lib/normalize.css">
    <link rel="stylesheet" type="text/css" href="../lib/rdio-utils.css">
    <link rel="stylesheet" type="text/css" href="style/fonts.css">
    <link rel="stylesheet/less" type="text/css" href="style/main.less">
    <link rel="stylesheet/less" type="text/css" href="style/normal-item.less">
    <link rel="stylesheet/less" type="text/css" href="style/base-card.less">

    <!-- Register your app at http://www.rdio.com/developers/create/ and replace client_id below with yours  -->
    <script src="https://rdio.com/api/api.js?client_id=Y9GkCzclhKCX3xywe9kCMQ"></script>
    <!--
      RS: dc0vubtijKSvCWzFQmMseA
      AK: NYAX608CzAD-0EIYqVpsAA
      AK (live): Y9GkCzclhKCX3xywe9kCMQ
    -->

    <script src="../lib/jquery-1.9.1.min.js"></script>
    <script src="../lib/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../lib/underscore-1.5.2.min.js"></script>
    <script src="../lib/less-1.3.0.min.js"></script>
    <script src="../lib/rdio-utils.js"></script>
    <script src="../lib/zot.js"></script>
    <script src="../lib/jquery.color.js"></script>
    <script src="js/main.js"></script>
    <script src="js/color-picking.js"></script>




    <script id="heavyRotation-template" type="text/template">
      <div class="header">
        <div class="icon meter"></div>
        <div class="title"><%= title %></div>
      </div>
      <% _.each(entries, function(v, i) { %>
        <div class="music-block <% if (i < 3) { %>big<% } else { %>small<% } %>">
          <img src="<%= v.icon %>">
          <div class="title truncated-line"><%= v.title %></div>
          <div class="subtitle truncated-line"><%= v.subtitle %></div>
        </div>
      <% }); %>
    </script>

    <script id="comment-template" type="text/template">
      <div class="content">
        <div class="album big"><img src="<%= albumIcon %>"></div>
        <div class="comment-body">
          <div class="icon"><img src="<%= userIcon %>" class="link"></div>
          <div class="words"><%= comment %></div>
          <% if (isTrack) { %>
            <div class="track">
              <span class="play-button"></span>
              <span class="name"><a href="#"><%=track.name%></a></span>
              <span class="duration">(<%=track.durationFormatted%>)</span>
              <hr>
            </div>
          <% } %>
          <div class="timestamp">
            <a href="#">Like</a> <span class="separator">|</span>
            <a href="#">Reply</a> <span class="separator">|</span>
            <a href="#"><%= timestamp %></a> by
            <a href="#"><%= author %></a>
          </div>
        </div>
      </div>
    </script>

    <script id="popular-template" type="text/template">
      <div class="header">
        <div class="icon <%= icon %>">
          <% if(userIcon) { %>
            <img src="<%= userIcon %>">
          <% } %>
        </div>
        <div class="title"><%= title %></div>
      </div>
      <div class="album clipped content"><img src="<%= albumIcon %>"></div>
    </script>

    <script id="people-template" type="text/template">
      <div class="header">
        <div class="icon person"></div>
        <div class="title"><%= title %></div>
      </div>
      <% _.each(entries, function(v, i) { %>
        <div class="people-block">
          <div class="wrapper">
            <img src="<%= v.icon %>">
          </div>
          <div class="title truncated-line"><%= v.title %></div>
          <div class="subtitle truncated-line"><%= v.subtitle %></div>
        </div>
      <% }); %>
    </script>

    <script id="generic-template" type="text/template">
      <div class="header">
        <div class="icon <%= icon %>">
          <% if (userIcon) { %>
            <img class="link" src="<%= userIcon %>">
          <% } %>
        </div>
        <div class="title"><%= title %></div>
      </div>
      <div class="content">
      <% _.each(entries, function(v, i) { %>
        <div class="music-block <%= size %>">
          <img src="<%= v.icon %>">
          <div class="title truncated-line"><%= v.title %></div>
          <% if (v.relatedArtists) { %>
            <div class="subtitle">
              <%= v.relatedArtists %>
            </div>
          <% } else { %>
            <div class="subtitle truncated-line"><%= v.subtitle %></div>
            <div class="subtitle tracks"><%= v.tracksCount %></div>
          <% } %>
        </div>
      <% }); %>
      </div>
    </script>

    <script id="no-auth-template" type="text/template">
      <p>To get started you will need to <button class="auth">authorize this app</button></p>
    </script>

  </head>
  <body>
    <div class="main-content">
      <div class="page-title large-text">Music Feed 7</div>
      <div class="error"></div>
    </div>
  </body>
</html>
